__pycache__/
*.pyc
venv/
.env
*.h5
*.pkl
logs/
.pytest_cache/
*.json
!configs/*.json
google-cloud-cli-darwin-arm.tar
/google-cloud-sdk
.gitignore.s
deploy_to_vertex.py
Dockerfile.serving
serving/Dockerfile
serving/start.sh
test_local.py
test_api.py
train.yml
deploy.yml